@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');

html {
    font-size: 100%; /* 16px default */     
    width: 100%;   
}

* {
    color: white;
}

input, select, option, textarea {
    color: black;
}

h1 {
    font-family: "Bitcount Prop Single";
    color: rgb(206, 175, 2);
    font-size: 2.5rem;
}

h2 {
    font-family: "Bitcount Prop Single";
    color: rgb(206, 175, 2);
    font-size: 1.5rem;
}


body {
    background-color: rgb(2, 2, 44);
}

button {
    color: black;
}

.body-content {
    display: flex;
    flex-direction: column;
    width: 97.5%;
    /* border: 2px solid magenta; */
    align-content: center;
    justify-content: center;
    margin-left: 1%;
}

/* ---------- Header -------------- */
.header {
    background-color: rgb(5, 5, 192);
    padding: 0.7rem 0.7rem 0.7rem 0.7rem;
    margin: 0;
    border: 0.35rem solid rgb(5, 5, 192);
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
}

.header nav a {
    font-family: "Bitcount Prop Single";
    color: rgb(206, 175, 2);
    font-weight: bolder;
}

.title-section {
    width: 40%;
}

.title-section h1 {
    padding: 0;
    margin: 0;
}

.links-section {
    width: 80%;
}

.links-section nav {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-self: center;
    gap: 1rem;

}

.links-section nav a{
    font-family: "Bitcount Prop Single";
    color: rgb(206, 175, 2);
    font-size: 2.5rem;
}

.links-section nav a:hover{
    color: rgb(255, 245, 186);
    font-size: 2.48rem;
}

/* .header div {
    border: white solid 2px;
} */

/* -------------- Home ---------------- */

.home-content {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    width: 100%;
}

.welcome-section {
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
}

.welcome-section h1 {
    font-family: "Bitcount Prop Single";
    color: rgb(206, 175, 2);
    font-size: 5.0rem;
    margin: 0;
    padding: 0;
}

.welcome-section h1:hover {
    font-family: "Bitcount Prop Single";
    color: rgb(255, 238, 144);
    font-size: 5.2rem;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}


.welcome-section h2 {
    font-family: "Bitcount Prop Single";
    color: rgb(206, 175, 2);
    font-size: 2.0rem;
    margin: 0;
    padding: 0;
}

.welcome-section h3 {
    font-family: "Bitcount Prop Single";
    color: rgb(206, 175, 2);
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.random-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}

.random-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    margin: 2rem;
    margin-bottom: 0;
    padding: 0;
    border: 0.5rem solid rgb(206, 175, 2);
    width: 70%;
}

.random-content h1, .random-content h2 {
    margin: 0;
    padding: 0;
}

.random-picks-section {
    display: flex;
    flex-direction: row;
    border: 2px solid pink;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.random-anime, .random-manga {
    border: 0.2rem solid rgb(206, 175, 2);
}

.randomAnimeImg, .randomMangaImg {
    height: 15rem;
    width: 12rem;
    /* border: 2px solid red; */
}


/* ------------- Browse --------------*/
.top-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* border: 2px solid orange; */
    height: 100%;
}

.topAnime-section, .topManga-section {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.topAnime-content, .topManga-content {
    /* border: 2px solid greenyellow; */
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topAnimeTable, .topMangaTable {
    border: solid rgb(206, 175, 2) 0.3rem;
}

.topHeaderTable th, .topBodyTable td {
    border: solid rgb(206, 175, 2) 0.2rem;
}

.topHeaderTable th {
    color: rgb(206, 175, 2);
    font-size: 2rem;
}

.topBodyTable td {
    font-size: 1rem;
    text-align: center;
}

.topTableRow {
    max-height: 15rem;
}

.topTableRow td {
    height: 8rem;
}

.animeCover, .mangaCover {
    height: 15rem;
    width: 12rem;
    /* border: 2px solid red; */
}


/* ---------- My Stuff --------------- */

.button-section {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 1.5rem;
    /* border: red solid 2px; */
}

.button-section > *, .flex-row > * {
    align-content: center;
    justify-content: center;
}

#addContent, #deleteAllContent {
    border: rgb(206, 175, 2) solid 0.2rem;
    border-radius: 0.7rem;
    background-color: rgb(5, 5, 192);
    color: white;
    padding: 0.4rem;
    font-size: 0.8rem;
}

#addContent:hover, #deleteAllContent:hover {
    text-decoration: underline;
    background-color: rgb(76, 76, 221);
    font-size: 0.75rem;
}

.myStuffTable {
    width: 100%;
    border: solid rgb(206, 175, 2) 0.2rem;
}

.myStuffTable th, .myStuffTable td {
    border: solid rgb(206, 175, 2) 0.15rem;
    text-align: center;
}

.myStuffTableBody {
    height: 10%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#filterContent, #filterReset {
    border: rgb(206, 175, 2) solid 0.2rem;
    border-radius: 0.7rem;
    background-color: rgb(5, 5, 192);
    color: white;
    padding: 0.4rem 1rem 0.4rem 1rem;
    font-size: 0.8rem;
}

.filter-btn-section {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 0.5rem;
    gap: 0.5rem;
}

.legend-filters {
    color: rgb(206, 175, 2);
}

.fieldset-filters {
    border: 2px solid rgb(206, 175, 2);
}


.fieldset-type, .fieldset-categories {
    border: 2px solid  rgb(5, 5, 192);
}


/* --------- addContentForm ----------- */

.err-message {
    color: red;
}

.succ-message {
    color: green;
}

#back-button {
    margin-top: 1rem;
    border: rgb(206, 175, 2) solid 0.2rem;
    border-radius: 0.3rem;
    background-color: rgb(5, 5, 192);
    color: white;
    padding: 0.4rem;
    font-size: 0.8rem;
}