@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');

html {
    font-size: 100%; /* 16px default */     
    width: 100%;   
}

* {
    color: white;
}

input, select, option, textarea {
    color: black;
}

legend {
    font-size: 2vw;
}

h1 {
    font-family: "Bitcount Prop Single";
    color: rgb(206, 175, 2);
    font-size: 4.5vw;
}

h2 {
    font-family: "Bitcount Prop Single";
    color: rgb(206, 175, 2);
    font-size: 4vw;
}

body {
    background-color: rgb(2, 2, 44);
}

button {
    color: black;
}

.body-content {
    display: flex;
    flex-direction: column;
    width: 97.5%;
    /* border: 2px solid magenta; */
    align-content: center;
    justify-content: center;
    margin-left: 1%;
}

label {
    font-size: 2vw;
}

/* ---------- Login --------------- */

.login-page {
   margin-left: 1vw;
   margin-right: 1vw;
}

.login-error {
    color: red;
    font-size: 2vw;
}

.login-fieldset {
    display: flex;
    flex-direction: column;
}

.login-reset, .login-submit {
    border: rgb(206, 175, 2) solid 0.2vw;
    border-radius: 0.5vw;
    background-color: rgb(5, 5, 192);
    color: white;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    width: 10%;
}

.login-reset:hover, .login-submit:hover {
    border: rgb(206, 175, 2) solid 0.2vw;
    border-radius: 0.5vw;
    background-color: rgb(5, 5, 192);
    color: rgb(206, 175, 2);
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    justify-content: center;
    align-items: center;
    font-size: 1.4vw;
    width: 10%;
    text-decoration: underline;
}

.login-email {
    width: 50vw;
    height: 1.8vw;
    font-size: 1.5vw;
}

.login-password {
    width: 50vw;
    height: 1.8vw;
    font-size: 1.5vw;
}

.loginlinks-container {
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.signup-link, .forgot-link {
    font-size: 2vw;
    font-family: "Bitcount Prop Single";
    color: rgb(206, 175, 2);
    font-weight: bolder;
}

.login-buttons {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

/* ---------- Sign Up -------------- */

.signup-error {
    color: rgb(255, 217, 0);
    font-size: 2vw;
}

.signup-page {
   margin-left: 1vw;
   margin-right: 1vw;
}

.signup-buttons {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.signup-reset, .signup-submit {
    border: rgb(206, 175, 2) solid 0.2vw;
    border-radius: 0.5vw;
    background-color: rgb(5, 5, 192);
    color: white;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    width: 10%;
}

.signup-reset:hover, .signup-submit:hover, #backLogin-button:hover {
    border: rgb(206, 175, 2) solid 0.2vw;
    border-radius: 0.5vw;
    background-color: rgb(5, 5, 192);
    color: rgb(206, 175, 2);
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    justify-content: center;
    align-items: center;
    font-size: 1.4vw;
    width: 10%;
    text-decoration: underline;
}

#backLogin-button {
    border: rgb(206, 175, 2) solid 0.2vw;
    border-radius: 0.5vw;
    background-color: rgb(5, 5, 192);
    color: white;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    width: 10%;
    margin-bottom: 2vw;
}

.signup-fieldset {
    display: flex;
    flex-direction: column;
}

.signup-email, .signup-pass, .signup-user {
    width: 50vw;
    height: 1.8vw;
    font-size: 1.5vw;
}


/* ---------- Forgot -------------- */

.code-err, .email-err {
    color: red;
    font-size: 2vw;
}

.code-succ {
    color: rgb(0, 255, 55);
    font-size: 2vw;
}

.forgot-page {
   margin-left: 1vw;
   margin-right: 1vw;
}

.forgot-email, .change-password {
    width: 50vw;
    height: 1.8vw;
    font-size: 1.5vw;
}

.change-code {
    width: 5vw;
    height: 1.8vw;
    font-size: 1.5vw;
}

.code-fieldset, .change-fieldset {
    display: flex;
    flex-direction: column;
}

.code-buttons, .change-buttons {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.code-reset, .code-submit, .change-reset {
    border: rgb(206, 175, 2) solid 0.2vw;
    border-radius: 0.5vw;
    background-color: rgb(5, 5, 192);
    color: white;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    width: 10%;
}

.code-reset:hover, .code-submit:hover, .change-reset:hover {
    border: rgb(206, 175, 2) solid 0.2vw;
    border-radius: 0.5vw;
    background-color: rgb(5, 5, 192);
    color: rgb(206, 175, 2);
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    justify-content: center;
    align-items: center;
    font-size: 1.4vw;
    width: 10%;
    text-decoration: underline;
}

.change-submit {
    border: rgb(206, 175, 2) solid 0.2vw;
    border-radius: 0.5vw;
    background-color: rgb(5, 5, 192);
    color: white;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    width: 15%;
}

.change-submit:hover {
    border: rgb(206, 175, 2) solid 0.2vw;
    border-radius: 0.5vw;
    background-color: rgb(5, 5, 192);
    color: rgb(206, 175, 2);
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    justify-content: center;
    align-items: center;
    font-size: 1.4vw;
    width: 15%;
    text-decoration: underline;
}

/* ---------- Header -------------- */
.header {
    background-color: rgb(5, 5, 192);
    padding: 0.7vw 0.7vw 0.7vw 0.7vw;
    margin: 0;
    border: 0.35vw solid rgb(5, 5, 192);
    border-radius: 2vw;
    display: flex;
    flex-direction: row;
    position: inherit;
}

.website-name {
    font-size: 4vw;
}

.header nav a {
    font-family: "Bitcount Prop Single";
    color: rgb(206, 175, 2);
    font-weight: bolder;
}

.title-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.title-section h1 {
    padding: 0;
    margin: 0;
}

.links-section {
    width:60%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.links-section nav {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-self: center;
    align-items: center;
    gap: 3vw;
}

.links-section nav a{
    font-family: "Bitcount Prop Single";
    color: rgb(206, 175, 2);
    font-size: 3vw;
}

.links-section nav a:hover{
    color: rgb(255, 245, 186);
    font-size: 2.8vw;
}

/* .header div {
    border: white solid 2px;
} */

/* -------------- Home ---------------- */

.home-content {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    width: 100%;
}

.welcome-section {
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
}

.welcome1-heading {
    font-family: "Bitcount Prop Single";
    color: rgb(206, 175, 2);
    font-size: 6vw;
    text-align: center;
    margin: 0;
    padding: 0;
}

.welcome1-heading:hover {
    font-family: "Bitcount Prop Single";
    color: rgb(255, 238, 144);
    font-size: 5.5vw;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

.welcome2-heading {
    font-family: "Bitcount Prop Single";
    color: rgb(206, 175, 2);
    font-size: 4vw;
    text-align: center;
    margin: 0;
    padding: 0;
}

.welcome3-heading {
    font-family: "Bitcount Prop Single";
    color: rgb(206, 175, 2);
    font-size: 2.5vw;
    text-align: center;
    margin: 0;
    padding: 0;
    font-style: italic;
}

.random-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}

.random-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin: 2vw;
    margin-bottom: 0;
    padding: 2vw;
    border: 1.5vw solid rgb(206, 175, 2);
    border-radius: 5vw;
    width: 70%;
}

.random-content h1, .random-content h2 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.random-picks-section {
    display: flex;
    flex-direction: row;
    /* border: 2px solid pink; */
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.random-anime, .random-manga {
    border: 1.5vw solid rgb(5, 5, 192);
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 44vw;
    width: 45%;
}

.randomAnimePick, .randomMangaPick {
    height: 15%;
    width: 100%;
    /* border: 2px solid palegreen; */
    font-weight: bold;
    text-align: center;
    justify-content: center;
    font-size: 2vw;
}

.randomImgContainer {
    border: 0.8vw solid rgb(206, 175, 2);
    border-radius: 1vw;
    height: 65%;
}

.randomAnimeImg, .randomMangaImg {
    width: 25vw;
    height: 100%;
    /* border: 2px solid red; */
}


/* ------------- Browse --------------*/
.top-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* border: 2px solid rgb(255, 0, 140); */
    height: 100%;
    gap: 2vw;
}

.topAnime-section, .topManga-section {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.topAnime-section {
    width: 50%;
}

.topManga-section {
    width: 50%;
}

.topAnime-content, .topManga-content {
    /* border: 2px solid greenyellow; */
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topAnimeTable, .topMangaTable {
    width: 100%;
    border: solid rgb(206, 175, 2) 0.6vw;
}

.topHeaderTable th, .topBodyTable td {
    border: solid rgb(206, 175, 2) 0.3vw;
    font-size: 1vw;
}

.topHeaderTable th {
    color: rgb(206, 175, 2);
    font-size: 2vw;
}

.topBodyTable td {
    font-size: 1.5vw;
    text-align: center;
}

.topTableRow {
    max-height: 15vw;
}

.topTableRow td {
    height: 8vw;
    font-size: 1.4vw;
}

.animeCover, .mangaCover {
    height: 16vw;
    width: 12vw;
    /* border: 2px solid red; */
}

/* ---------- My Stuff --------------- */

.button-section {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 1.5vw;
    /* border: red solid 2px; */
}

.button-section > *, .flex-row > * {
    align-content: center;
    justify-content: center;
}

#addContent, #deleteAllContent {
    border: rgb(206, 175, 2) solid 0.5vw;
    border-radius: 1vw;
    background-color: rgb(5, 5, 192);
    color: white;
    padding: 1vw;
    font-size: 1.5vw;
}

#addContent:hover, #deleteAllContent:hover {
    text-decoration: underline;
    background-color: rgb(76, 76, 221);
    font-size: 1.2vw;
}

.myStuffTable {
    table-layout: fixed;
    width: 100%;    
    border: solid rgb(206, 175, 2) 0.5vw;
}

.myStuffTable th, .myStuffTable td {
    border: solid rgb(206, 175, 2) 0.2vw;
    text-align: center;
    font-size: 2vw;
}

.delTableContent {
    font-size: 1.5vw;
}

.myStuffTableBody {
    height: 10%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#filterContent, #filterReset {
    border: rgb(206, 175, 2) solid 0.5vw;
    border-radius: 0.7vw;
    background-color: rgb(5, 5, 192);
    color: white;
    padding: 1vw 1.5vw 1vw 1.5vw;
    font-size: 1.5vw;
    text-align: center;
}

.filter-btn-section {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 1vw;
    gap: 1vw;
}

.legend-filters {
    font-size: 3vw;
    color: rgb(206, 175, 2);
}

.fieldset-filters {
    border: 0.5vw solid rgb(206, 175, 2);
}

.fieldset-type, .fieldset-categories {
    border: 0.5vw solid  rgb(5, 5, 192);
}

.filterInput {
    height: 1.5vw;
    width: 1.5vw;
}

.table-section {
    /* border: 2px solid red; */
    width: 100%;
}

.tanime-box, .tmanga-box {
    /* border: 2px solid greenyellow; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.comment-cell, .title-cell, .genre-cell, .status-cell {
    max-width: 100%;
    white-space: pre-wrap;      /* preserves user-entered newlines */
    word-wrap: break-word;      /* legacy */
    overflow-wrap: break-word;  /* modern */
}


/* --------- addContentForm ----------- */

.err-message {
    color: red;
    font-size: 2vw;
}

.succ-message {
    color: rgb(0, 255, 55);
    font-size: 2vw;
}

#back-button {
    border: rgb(206, 175, 2) solid 0.3vw;
    border-radius: 1vw;
    background-color: rgb(5, 5, 192);
    color: white;
    padding: 0.5vw 1vw 0.5vw 1vw;
    font-size: 1.5vw;
    text-align: center;
    margin-top: 1vw;
}

.addContentFieldset {
    border: 0.5vw solid  rgb(5, 5, 192);
    border-radius: 1vw;
}

.addTitleInput {
    width: 50vw;
    height: 2vw;
    font-size: 1.5vw;
}

.addTypeInput {
    height: 1.5vw;
    width: 1.5vw;
}

.addStatusInput {
    width: 20vw;
    height: 3vw;
    font-size: 1.5vw;
}

.addGenreInput {
    height: 1.5vw;
    width: 1.5vw;
}

.addRatingInput {
    width: 5vw;
    height: 1.5vw;
    font-size: 1.5vw;
}

.addCommentsInput {
    width: 80vw;
    height: 10vw;
    font-size: 1.5vw;
}

.addSubmit, .addReset {
    font-size: 1.5vw;
}

/* -------- Account ----------- */

.account-content {
    margin-left: 2vw;
    border: rgb(5, 5, 192) solid 0.5vw;
    padding: 2vw;
    border-radius: 2vw;
    margin-bottom: 5vw;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.account-info {
    font-size: 3vw;
    font-weight: bold;
    color: rgb(206, 175, 2);
    font-family: "Bitcount Prop Single";
}

.change-btn {
    border: rgb(206, 175, 2) solid 0.3vw;
    border-radius: 1vw;
    background-color: rgb(5, 5, 192);
    color: white;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    font-size: 1.2vw;
    margin-top: 0.5vw;
}

.change-btn:hover {
    text-decoration: underline;
    background-color: rgb(76, 76, 221);
    font-size: 1.1vw;
}

.signout-section {
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#signout-btn {
    font-family: "Bitcount Prop Single";
    font-size: 1.8vw;
    border: 0.3vw solid rgb(137, 1, 1);
    border-radius: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    color: rgb(137, 1, 1);
    background-color: rgb(2, 2, 44);
}

#signout-btn:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(255, 0, 0);
     border: 0.3vw solid rgb(255, 0, 0);
}

.info-fieldset {
    border-radius: 1vw;
    padding: 1vw;
}

.change-user-section {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}