<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="header">
        <nav>
            <a href="/">Home</a>
            <a href="/Browse">Browse</a>
            <a href="/myStuff">MyStuff</a>
        </nav>
    </div>
    <div class="browse-section">
        <h1>Browse</h1>
        <div class="top-section">
            <div class="topAnime-section">
                <table class="topAnimeTable">
                    <colgroup>
                        <col style="width: 15%">   
                        <col style="width: 10%">  
                        <col style="width: 30%">   
                        <col style="width: 25%">  
                        <col style="width: 20%">    
                    </colgroup>
                    <thead>
                        <tr><th class="topAnimePic">Pic</th><th class="topAnimeRank">Rank</th><th class="topAnimeTitle">Title</th><th class="topAnimeGenres">Genres</th><th class="topAnimeStatus">Status</th></tr>
                    </thead>
                    <tbody>
                        <%- topAnimeList %>
                    </tbody>
                </table>
            </div>
            <div class="topManga-section">
                <table class="topMangaTable">
                    <colgroup>
                        <col style="width: 15%">   
                        <col style="width: 10%">  
                        <col style="width: 30%">   
                        <col style="width: 25%">  
                        <col style="width: 20%">    
                    </colgroup>
                    <thead>
                        <tr><th class="topMangaPic"></th><th class="topMangaRank">Rank</th><th class="topMangaTitle">Title</th><th class="topMangaGenres">Genres</th><th class="topMangaStatus">Status</th></tr>
                    </thead>
                    <tbody>
                        <%- topMangaList %>
                    </tbody>
                </table>
            </div>
        </div>
       
    </div>
    
</body>
</html>