<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="header">
        <div class="title-section">
            <h1 class="website-name">Mangime Catalog</h1>
        </div>
        <div class="links-section">
            <nav>
                <a href="/Home">Home</a>
                <a href="/Browse">Browse</a>
                <a href="/myStuff">MyStuff</a>
                <a href="/account">Account</a>
            </nav>
        </div>
    </div>

    <div class="body-content">
        <div class="browse-section">
            <h1>Browse</h1>
            <div class="top-section">
                <div class="topAnime-section">
                    <div class="topAnime-content">
                        <h2>Top Anime</h2>
                        <table class="topAnimeTable">
                            <colgroup>
                                <col style="width: 5%">   
                                <col style="width: 21%">  
                                <col style="width: 32%">   
                                <col style="width: 22%">  
                                <col style="width: 15%">    
                            </colgroup>
                            <thead class="topHeaderTable">
                                <tr><th class="topAnimeRank">Rank</th><th class="topAnimePic"></th><th class="topAnimeTitle">Title</th><th class="topAnimeGenres">Genres</th><th class="topAnimeStatus">Status</th></tr>
                            </thead>
                            <tbody class="topBodyTable">
                                <%- topAnimeList %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="topManga-section">
                    <div class="topManga-content">
                        <h2>Top Manga</h2>
                        <table class="topMangaTable">
                            <colgroup>
                                <col style="width: 5%">   
                                <col style="width: 21%">  
                                <col style="width: 32%">   
                                <col style="width: 22%">  
                                <col style="width: 15%">    
                            </colgroup>
                            <thead class="topHeaderTable">
                                <tr><th class="topMangaRank">Rank</th><th class="topMangaPic"></th><th class="topMangaTitle">Title</th><th class="topMangaGenres">Genres</th><th class="topMangaStatus">Status</th></tr>
                            </thead>
                            <tbody class="topBodyTable">
                                <%- topMangaList %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>