<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="title-section">
            <h1 class="website-name">Mangime Catalog</h1>
        </div>
        <div class="links-section">
            <nav>
                <a href="/home">Home</a>
                <a href="/browse">Browse</a>
                <a href="/myStuff">MyStuff</a>
            </nav>
        </div>
    </div>
    <div class="body-content">
        <h1>Homepage</h1>
        <div class="home-content">
            <div class="welcome-section">
                <h1 class="welcome1-heading">Welcome, <%- user %>, to Mangime Catalog!</h1>
                <h2 class="welcome2-heading">Your Personal Digital Library and Journal to Browse All Things Anime and Manga!</h2>
                <h3 class="welcome3-heading">Start Exploring, Organizing, Tracking, and Celebrating Your Favorite Content Today!</h3>
            </div>
            <div class="random-section">
                <div class="random-content">
                    <h1>Feeling Lucky?</h1>
                    <h2>Today's Recommended Random Picks:</h2>
                    <div class="random-picks-section">
                        <div class="random-anime">
                            <h2>Anime</h2>
                            <%- randomAnime %>
                        </div>
                        <div class="random-manga">
                            <h2>Manga</h2>
                            <%- randomManga %>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</body>
</html>