<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="title-section">
            <h1>Mangime Catalog</h1>
        </div>
        <div class="links-section">
            <nav>
                <a href="/">Home</a>
                <a href="/Browse">Browse</a>
                <a href="/myStuff">MyStuff</a>
            </nav>
        </div>
    </div>
    <div class="body-content">
        <h1>Homepage</h1>
        <div class="home-content">
            <div class="welcome-section">
                <h1>Welcome to Mangime Catalog!</h1>
                <h2>Your Personal Digital Library and Journal to Browse All Things Anime and Manga!</h2>
                <h3>Start Exploring, Organizing, Tracking, and Celebrating Your Favorite Content Today!</h3>
            </div>
        </div>
    </div>
</body>
</html>