<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Stuff</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
   <div class="header">
        <div class="title-section">
            <h1 class="website-name">Mangime Catalog</h1>
        </div>
        <div class="links-section">
            <nav>
                <a href="/Home">Home</a>
                <a href="/Browse">Browse</a>
                <a href="/myStuff">MyStuff</a>
                <a href="/account">Account</a>
            </nav>
        </div>
    </div>

    <div class="body-content">
        <h1>My Stuff</h1>
        <div class="button-section">
            <h2>Anime/Manga Form:</h2> 
            <a href="/addContent">
                <button id="addContent">Add Content +</button>
            </a>    
            <form action="myStuff/deleteAll" method="POST">
                <button id="deleteAllContent">Delete All</button>
            </form>
        </div>
        <div class="filter-section">
            <form action="myStuff/filter" method="POST">
                <fieldset class="fieldset-filters">
                    <legend class="legend-filters">Filters</legend>
                    <fieldset class="fieldset-type">
                        <legend class="legend-type">Type:</legend>
                        <label><input type="radio" class="filterInput" name="filterType" value="Anime">Anime</label>
                        <label><input type="radio" class="filterInput" name="filterType" value="Manga">Manga</label>
                        <label><input type="radio" class="filterInput" name="filterType" value="Both" checked>Both</label>
                    </fieldset>
                    <fieldset class="fieldset-categories">
                        <legend class="legend-catgeories">Sort Categories</legend>
                        <fieldset>
                            <legend class="legend-time">Time:</legend>
                                <label><input type="radio" class="filterInput" name="sortFilter" value="earliest" default checked>Earliest</label>
                                <label><input type="radio" class="filterInput" name="sortFilter" value="newest">Newest</label>
                            </fieldset>
                            <fieldset>
                                <legend class="legend-title">Title:</legend>
                                    <label><input type="radio" class="filterInput" name="sortFilter" value="title-asc">Title Ascending</label>
                                    <label><input type="radio" class="filterInput" name="sortFilter" value="title-des">Title Descending</label>
                            </fieldset>
                            <fieldset>
                                <legend class="legend-status">Status:</legend>
                                    <label><input type="radio" class="filterInput" name="sortFilter" value="status">Status</label>
                            </fieldset>
                            <fieldset>
                                <legend class="legend-rating">Rating:</legend>       
                                    <label><input type="radio" class="filterInput" name="sortFilter" value="rating-asc">Rating Ascending</label>
                                    <label><input type="radio" class="filterInput" name="sortFilter" value="rating-des">Rating Descending</label>
                        </fieldset>
                    </fieldset>
                    <div class="filter-btn-section">
                        <input type="reset" id="filterReset">
                        <button type="submit" id="filterContent">Filter</button>
                    </div>
                </fieldset>                        
            </form>
        </div>
        <div class="table-section">
            <div class="tanime-box">
                <h2>Anime List:</h2>    
                <%- animeTable %>
            </div>
            <div class="tmanga-box">
                <h2>Manga List:</h2>
                <%- mangaTable %>
            </div>
        </div>
    </div>
    
</body>
</html>