<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="signup-page">
        <div class="signup-content">
            <h1>Sign Up</h1>
            <a href="/" class="back-section">
                <button id="backLogin-button">back</button>
             </a>  
            <form action="/signup/submit" method="POST">
                <fieldset class="signup-fieldset">
                    <label>Email:<input class="signup-email" type="email" name="email" required></label> <br>
                    <label>Username:<input class="signup-user" type="text" name="user" required></label> <br>
                    <label>Password: <input class="signup-pass" type="password" name="password" required></label> <br>
                    <div class="signup-buttons">
                        <input class="signup-reset" type="reset">
                        <input class="signup-submit" type="submit" value="Sign Up">
                    </div>
                </fieldset>
            </form>
            <br>
            <%- message %>
        </div>
    </div>
</body>
</html>